<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LinphoneReasonNone</key>
	<dict>
		<key>message</key>
		<string></string>
		<key>code</key>
		<string>200</string>
	</dict>
	<key>LinphoneReasonNoResponse</key>
	<dict>
		<key>message</key>
		<string>The called terminal was not reachable because of technical reasons.</string>
		<key>code</key>
		<string>408</string>
	</dict>
	<key>LinphoneReasonForbidden</key>
	<dict>
		<key>message</key>
		<string>The call did not go through because  of access rights failure.</string>
		<key>code</key>
		<string></string>
	</dict>
	<key>LinphoneReasonDeclined</key>
	<dict>
		<key>message</key>
		<string>The call has been declined.</string>
		<key>code</key>
		<string>603</string>
	</dict>
	<key>LinphoneReasonNotFound</key>
	<dict>
		<key>message</key>
		<string>The number or address could not be found.</string>
		<key>code</key>
		<string>404</string>
	</dict>
	<key>LinphoneReasonNotAnswered</key>
	<dict>
		<key>message</key>
		<string>No answer.</string>
		<key>code</key>
		<string></string>
	</dict>
	<key>LinphoneReasonBusy</key>
	<dict>
		<key>message</key>
		<string>The number or address you are trying to reach is busy.</string>
		<key>code</key>
		<string>486</string>
	</dict>
	<key>LinphoneReasonUnsupportedContent</key>
	<dict>
		<key>message</key>
		<string>The called terminal has no media in common with yours.</string>
		<key>code</key>
		<string>488</string>
	</dict>
	<key>LinphoneReasonIOError</key>
	<dict>
		<key>message</key>
		<string>Communication error: Bad network connection.</string>
		<key>code</key>
		<string></string>
	</dict>
	<key>LinphoneReasonDoNotDisturb</key>
	<dict>
		<key>message</key>
		<string>The call failed becuse of communication problems.</string>
		<key>code</key>
		<string></string>
	</dict>
	<key>LinphoneReasonUnauthorized</key>
	<dict>
		<key>message</key>
		<string>The call failed because it requires authorization.</string>
		<key>code</key>
		<string>494</string>
	</dict>
	<key>LinphoneReasonNotAcceptable</key>
	<dict>
		<key>message</key>
		<string>The call was not accepted of technical reasons by the called terminal.</string>
		<key>code</key>
		<string>406</string>
	</dict>
	<key>LinphoneReasonNoMatch</key>
	<dict>
		<key>message</key>
		<string>Call failed because called terminal detected and error.</string>
		<key>code</key>
		<string>400</string>
	</dict>
	<key>LinphoneReasonMovedPermanently</key>
	<dict>
		<key>message</key>
		<string>The called person or organization has changed their number or call address.</string>
		<key>code</key>
		<string>301</string>
	</dict>
	<key>LinphoneReasonGone</key>
	<dict>
		<key>message</key>
		<string>The number/address you are trying to reach is no longer available.</string>
		<key>code</key>
		<string>604</string>
	</dict>
	<key>LinphoneReasonTemporarilyUnavailable</key>
	<dict>
		<key>message</key>
		<string>The person or organization you are trying to reach is not available at this time.  Check the number or address or try again later.</string>
		<key>code</key>
		<string>480</string>
	</dict>
	<key>LinphoneReasonAddressIncomplete</key>
	<dict>
		<key>message</key>
		<string>The address was incomplete. Please try again.</string>
		<key>code</key>
		<string>484</string>
	</dict>
	<key>LinphoneReasonNotImplemented</key>
	<dict>
		<key>message</key>
		<string>The call failed because of a service error.</string>
		<key>code</key>
		<string>501</string>
	</dict>
	<key>LinphoneReasonBadGateway</key>
	<dict>
		<key>message</key>
		<string>Call failed because of error in the communication service.</string>
		<key>code</key>
		<string>502</string>
	</dict>
	<key>LinphoneReasonServerTimeout</key>
	<dict>
		<key>message</key>
		<string>The call failed because of a service timeout error.</string>
		<key>code</key>
		<string>504</string>
	</dict>
	<key>LinphoneReasonUnknown</key>
	<dict>
		<key>message</key>
		<string>The call failed of an unknown error.</string>
		<key>code</key>
		<string></string>
	</dict>
</dict>
</plist>
