<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>General Menu</string>
		<dict>
			<key>controllerType</key>
			<real>0</real>
			<key>title</key>
			<string>Start On Boot</string>
			<key>defaultValue</key>
			<true/>
			<key>UserDefaultsKey</key>
			<string>START_ON_BOOT</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<integer>0</integer>
			<key>title</key>
			<string>SIP Encryption</string>
			<key>defaultValue</key>
			<true/>
			<key>UserDefaultsKey</key>
			<string>SIP_ENCRYPTION</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<real>0</real>
			<key>title</key>
			<string>Wifi Only</string>
			<key>defaultValue</key>
			<false/>
			<key>UserDefaultsKey</key>
			<string>WIFI_ONLY</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<real>0</real>
			<key>title</key>
			<string>Auto Answer</string>
			<key>defaultValue</key>
			<true/>
			<key>UserDefaultsKey</key>
			<string>ACE_AUTO_ANSWER_CALL</string>
		</dict>
	</array>
	<array>
		<string>Audio/Video Menu</string>
		<dict>
			<key>controllerType</key>
			<real>0</real>
			<key>title</key>
			<string>Speaker Mute</string>
			<key>defaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>controllerType</key>
			<real>0</real>
			<key>title</key>
			<string>Mic Mute</string>
			<key>defaultValue</key>
			<false/>
			<key>UserDefaultsKey</key>
			<string>MICROPHONE_MUTE</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<real>0</real>
			<key>title</key>
			<string>Echo Cancel</string>
			<key>defaultValue</key>
			<true/>
			<key>UserDefaultsKey</key>
			<string>ECHO_CANCEL</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<real>0</real>
			<key>title</key>
			<string>Show Self-View</string>
			<key>defaultValue</key>
			<true/>
			<key>UserDefaultsKey</key>
			<string>VIDEO_SHOW_SELF_VIEW</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<integer>0</integer>
			<key>title</key>
			<string>Show Preview</string>
			<key>defaultValue</key>
			<true/>
			<key>UserDefaultsKey</key>
			<string>VIDEO_SHOW_PREVIEW</string>
		</dict>
	</array>
	<array>
		<string>Theme Menu</string>
		<dict>
			<key>controllerType</key>
			<integer>2</integer>
			<key>title</key>
			<string>Foreground Color</string>
			<key>defaultValue</key>
			<false/>
			<key>UserDefaultsKey</key>
			<string>APP_FOREGROUND_COLOR</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<integer>2</integer>
			<key>title</key>
			<string>Background Color</string>
			<key>defaultValue</key>
			<false/>
			<key>UserDefaultsKey</key>
			<string>APP_BACKGROUND_COLOR</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<real>0</real>
			<key>title</key>
			<string>Force 508</string>
			<key>defaultValue</key>
			<true/>
			<key>UserDefaultsKey</key>
			<string>APP_FORCE_508</string>
		</dict>
	</array>
	<array>
		<string>Text Menu</string>
		<dict>
			<key>controllerType</key>
			<integer>1</integer>
			<key>title</key>
			<string>label</string>
			<key>defaultValue</key>
			<false/>
			<key>UserDefaultsKey</key>
			<string>label</string>
		</dict>
	</array>
	<array>
		<string>Summary Menu</string>
		<dict>
			<key>controllerType</key>
			<integer>3</integer>
			<key>title</key>
			<string>View TSS</string>
			<key>defaultValue</key>
			<false/>
			<key>UserDefaultsKey</key>
			<string>ACE_VIEW_TSS</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<integer>3</integer>
			<key>title</key>
			<string>Send TSS</string>
			<key>defaultValue</key>
			<false/>
			<key>UserDefaultsKey</key>
			<string>ACE_SEND_TSS</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<integer>3</integer>
			<key>title</key>
			<string>Show Advanced</string>
			<key>defaultValue</key>
			<false/>
			<key>UserDefaultsKey</key>
			<string>ACE_SHOW_ADVANCED</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<integer>3</integer>
			<key>title</key>
			<string>Show Debug</string>
			<key>defaultValue</key>
			<false/>
			<key>UserDefaultsKey</key>
			<string>ACE_SHOW_DEBUG</string>
		</dict>
	</array>
	<array>
		<string>Account</string>
		<dict>
			<key>controllerType</key>
			<integer>1</integer>
			<key>title</key>
			<string>Username</string>
			<key>defaultValue</key>
			<true/>
			<key>UserDefaultsKey</key>
			<string>ACE_USERNAME</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<integer>1</integer>
			<key>title</key>
			<string>Auth ID</string>
			<key>defaultValue</key>
			<true/>
			<key>UserDefaultsKey</key>
			<string>ACE_AUTH_ID</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<integer>1</integer>
			<key>title</key>
			<string>Domain</string>
			<key>defaultValue</key>
			<string></string>
			<key>UserDefaultsKey</key>
			<string>ACE_DOMAIN</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<integer>1</integer>
			<key>title</key>
			<string>Proxy</string>
			<key>defaultValue</key>
			<string></string>
			<key>UserDefaultsKey</key>
			<string>ACE_PROXY</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<integer>0</integer>
			<key>title</key>
			<string>Outbound Proxy</string>
			<key>defaultValue</key>
			<false/>
			<key>UserDefaultsKey</key>
			<string>ACE_OUTBOUND_PROXY</string>
		</dict>
	</array>
	<array>
		<string>Preferences</string>
		<dict>
			<key>controllerType</key>
			<integer>0</integer>
			<key>title</key>
			<string>Enable Video</string>
			<key>defaultValue</key>
			<true/>
			<key>UserDefaultsKey</key>
			<string>start_video_preference</string>
		</dict>
		<dict>
			<key>controllerType</key>
			<integer>0</integer>
			<key>title</key>
			<string>Enable RTT</string>
			<key>defaultValue</key>
			<true/>
			<key>UserDefaultsKey</key>
			<string>kREAL_TIME_TEXT_ENABLED</string>
		</dict>
		<array>
			<string>Audio</string>
			<dict>
				<key>controllerType</key>
				<integer>0</integer>
				<key>title</key>
				<string>Adaptive Rate</string>
				<key>defaultValue</key>
				<true/>
				<key>UserDefaultsKey</key>
				<string>enable_adaptive_rate_control</string>
			</dict>
			<array>
				<string>Audio Codecs</string>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>G722</string>
					<key>defaultValue</key>
					<true/>
					<key>UserDefaultsKey</key>
					<string>opus_preference</string>
				</dict>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>SILK 16</string>
					<key>defaultValue</key>
					<true/>
					<key>UserDefaultsKey</key>
					<string>silk_16k_preference</string>
				</dict>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>SILK 24</string>
					<key>defaultValue</key>
					<true/>
					<key>UserDefaultsKey</key>
					<string>silk_24k_preference</string>
				</dict>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>Speex 8k</string>
					<key>defaultValue</key>
					<false/>
					<key>UserDefaultsKey</key>
					<string>speex_8k_preference</string>
				</dict>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>Speex 16k</string>
					<key>defaultValue</key>
					<false/>
					<key>UserDefaultsKey</key>
					<string>speex_16k_preference</string>
				</dict>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>PCMU</string>
					<key>defaultValue</key>
					<true/>
					<key>UserDefaultsKey</key>
					<string>pcmu_preference</string>
				</dict>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>PCMA</string>
					<key>defaultValue</key>
					<true/>
					<key>UserDefaultsKey</key>
					<string>pcma_preference</string>
				</dict>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>GSM</string>
					<key>defaultValue</key>
					<false/>
					<key>UserDefaultsKey</key>
					<string>gsm_preference</string>
				</dict>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>G722</string>
					<key>defaultValue</key>
					<false/>
					<key>UserDefaultsKey</key>
					<string>g722_preference</string>
				</dict>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>iLBC</string>
					<key>defaultValue</key>
					<false/>
					<key>UserDefaultsKey</key>
					<string>ilbc_preference</string>
				</dict>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>AMR</string>
					<key>defaultValue</key>
					<false/>
					<key>UserDefaultsKey</key>
					<string>amr_preference</string>
				</dict>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>G729</string>
					<key>defaultValue</key>
					<false/>
					<key>UserDefaultsKey</key>
					<string>g729_preference</string>
				</dict>
			</array>
		</array>
		<array>
			<string>Video</string>
			<dict>
				<key>controllerType</key>
				<integer>0</integer>
				<key>title</key>
				<string>Always Inititate</string>
				<key>defaultValue</key>
				<true/>
				<key>UserDefaultsKey</key>
				<string>enable_video_preference</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<integer>0</integer>
				<key>title</key>
				<string>Always accept</string>
				<key>defaultValue</key>
				<true/>
				<key>UserDefaultsKey</key>
				<string>accept_video_preference</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<integer>0</integer>
				<key>title</key>
				<string>Video Preset</string>
				<key>defaultValue</key>
				<true/>
				<key>UserDefaultsKey</key>
				<string>video_preset_preference</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<integer>0</integer>
				<key>title</key>
				<string>Preferred Size</string>
				<key>defaultValue</key>
				<true/>
				<key>UserDefaultsKey</key>
				<string>video_preferred_size_preference</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<integer>1</integer>
				<key>title</key>
				<string>Preferred FPS</string>
				<key>defaultValue</key>
				<string>25</string>
				<key>UserDefaultsKey</key>
				<string>video_preferred_fps_preference</string>
			</dict>
			<array>
				<string>Video Codecs</string>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>VP8</string>
					<key>defaultValue</key>
					<true/>
					<key>UserDefaultsKey</key>
					<string>vp8_preference</string>
				</dict>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>H264</string>
					<key>defaultValue</key>
					<true/>
					<key>UserDefaultsKey</key>
					<string>h264_preference</string>
				</dict>
				<dict>
					<key>controllerType</key>
					<integer>0</integer>
					<key>title</key>
					<string>H263</string>
					<key>defaultValue</key>
					<false/>
					<key>UserDefaultsKey</key>
					<string>h263_preference</string>
				</dict>
			</array>
		</array>
		<array>
			<string>Call Control</string>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>MWI URL</string>
				<key>defaultValue</key>
				<true/>
				<key>UserDefaultsKey</key>
				<string>ACE_MWI_URL</string>
			</dict>
		</array>
		<array>
			<string>Network</string>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>STUN  </string>
				<key>defaultValue</key>
				<false/>
				<key>UserDefaultsKey</key>
				<string>stun_preference</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<integer>1</integer>
				<key>title</key>
				<string>STUN URL</string>
				<key>defaultValue</key>
				<string>stun.linphone.org</string>
				<key>UserDefaultsKey</key>
				<string>stun_url_preference</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>Enable ICE</string>
				<key>defaultValue</key>
				<false/>
				<key>UserDefaultsKey</key>
				<string>ice_preference</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>Enable UPNP</string>
				<key>defaultValue</key>
				<false/>
				<key>UserDefaultsKey</key>
				<string>ACE_ENABLE_UPNP</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>Random Ports</string>
				<key>defaultValue</key>
				<false/>
				<key>UserDefaultsKey</key>
				<string>random_port_preference</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<integer>1</integer>
				<key>title</key>
				<string>SIP Port</string>
				<key>defaultValue</key>
				<integer>5060</integer>
				<key>UserDefaultsKey</key>
				<string>ACE_SIP_PORT</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>Audio ports</string>
				<key>defaultValue</key>
				<false/>
				<key>UserDefaultsKey</key>
				<string>AVE_AUDIO_PORTS</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>Video ports</string>
				<key>defaultValue</key>
				<false/>
				<key>UserDefaultsKey</key>
				<string>ACE_VIDEO_PORTS</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>Media Encryption</string>
				<key>defaultValue</key>
				<false/>
				<key>UserDefaultsKey</key>
				<string>ACE_MEDIA_ENCRYPTION</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>Push Notifications</string>
				<key>defaultValue</key>
				<false/>
				<key>UserDefaultsKey</key>
				<string>ACE_PUSH_NOTIFICATIONS</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>IPv6</string>
				<key>defaultValue</key>
				<false/>
				<key>UserDefaultsKey</key>
				<string>use_ipv6</string>
			</dict>
		</array>
		<array>
			<string>Advanced</string>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>Debug Mode</string>
				<key>defaultValue</key>
				<false/>
				<key>UserDefaultsKey</key>
				<string>ACE_DEBUG_MODE</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>Persistent Notifier</string>
				<key>defaultValue</key>
				<true/>
				<key>UserDefaultsKey</key>
				<string>ACE_PERSISTENT_NOTIFIER</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>Sharing Server URL</string>
				<key>defaultValue</key>
				<true/>
				<key>UserDefaultsKey</key>
				<string>ACE_SHARING_SERVER_URL</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>Remote Provisioning</string>
				<key>defaultValue</key>
				<true/>
				<key>UserDefaultsKey</key>
				<string>ACE_REMOTE_PROVISIONING</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>Send Logs</string>
				<key>defaultValue</key>
				<true/>
				<key>UserDefaultsKey</key>
				<string>ACE_SEND_LOGS</string>
			</dict>
			<dict>
				<key>controllerType</key>
				<real>0</real>
				<key>title</key>
				<string>Clear Logs</string>
				<key>defaultValue</key>
				<true/>
				<key>UserDefaultsKey</key>
				<string>ACE_CLEAR_LOGS</string>
			</dict>
		</array>
	</array>
</array>
</plist>
